@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Inter";
    box-sizing: border-box;
}

#root {
    height: 100%;
}

html, .app, body {
    height: 100%;
} 

.header-override {
    display: block !important;
    font-size: 2em !important;
    margin-block-start: 0.5em !important;
    margin-block-end: 0.5em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-weight: bold !important;
}

.header-padding {
    padding-left: 1em;
}

.dropdown-item {
    cursor: pointer;
}

.header-icons-padding {
    display: flex;
    justify-content: space-between;
}

.header-icon {
    padding: 0 .5em 0 .5em;
}

.td-center {
    text-align: center;
}

.job-title-popover {
    color: black;
    text-decoration: none;
}

.job-title-popover:hover {
    color: gray;
}

.mobile-header {
    display: none;
}

td {
    vertical-align: middle !important;
}

img {
    width: 15px;
}

.table-icon {
    width: 25px;
}

.app {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10em;
    padding: 10px 2em 10px 10px;
    margin-bottom: 1em;

    flex: 0 50px;
    background-color: black;
    color: white;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-buttons {
    display: flex;
    justify-content: center;
}

.padding-button {
    padding: 0 0.5em;
}

.padding-button-override {
    padding: .5em 1em .5em 1em !important;
    margin: .5em .5em .5em .5em !important;
    width: 100px !important;
}

.padding-button-override-small {
    padding: .25em .5em .25em .5em !important;
    margin: .25em !important;
    width: 100px !important;
}

.form-group-margin {
    margin-bottom: 1em;
}

.form-group-margin-less {
    margin-bottom: .5em;
}

.form-header {
    align-self: flex-start;
    padding-top: 1em;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
}

.signin-upper-padding {
    flex: .2;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-content-container {
    width: 55%;
}

footer {
    flex: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    
    background-color: black;
    color: white;
}

footer div {
    padding: .5em 1em .5em 1em;
}

.footer-icons {
    width: 20px;
}

.no-show-button {
    border: none;
    background-color: transparent;
}

/* rendering for mobile devices */

@media only screen and (max-width: 700px) {
    thead {
        display: none;
    }


    .table {
        --bs-table-border-color: transparent;
        --bs-table-hover-bg: transparent;
    }

    .table-group-divider {
        border-top: 0px transparent;
    }
  
    tr {
        display: grid;
        align-items: start;
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-columns: repeat(3, 33%);
        justify-content: space-between;
        gap: 0px;
        border-bottom: solid thin black;
        border-top: solid thin black;
        margin-top: -1px;
    }

    .card-entry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }

    /*grid styling for each item in "table"*/
    .item1 {
        grid-column-start: 1;
        grid-column-end: 4;
        
    }
    .item2 {
        grid-column-start: 1;
        grid-column-end: 4;        
    }
    .item3 {
        grid-column-start: 1;
        grid-column-end: 2;   
        
    }
    .item4 {
        grid-column-start: 2;
        grid-column-end: 4;
        
    }
    .item5 {
        grid-column-start: 1;
        grid-column-end: 2;   
        
    }
    .item6 {
        grid-column-start: 2;
        grid-column-end: 3;   
        
    }
    .item7 {
        grid-column-start: 3;
        grid-column-end: 4;  
    }

    .fill-row-mobile {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .mobile-header {
        display: block;
    }
  
    td {
      display: block;
      text-align: center;
    }

    .mobile-table-card {
        display: none;
        
    }

    .form-content-container {
        width: 80%;
    }

    .dropdown-mobile {
        white-space: normal !important;
    }
  }